body {
    margin: 0;
    background-color: black;
}
.field {
    width: 750px;
    height: 450px;
    margin: auto;
    background: url('img/background.png') no-repeat;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
}

.game_box {
    margin: auto;
    width: 200px;
    padding: 15px;
}

.game_field {
    height: 259px;
    overflow: hidden;
}

.start {
    border: 3px solid black;
    border-radius: 5px;
    background: lemonchiffon;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}

.start:hover {
    transform: scale(1.1);
}

.timer {
    margin: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
}


.score {
    margin: auto;
    background-color: sandybrown;
    border: 3px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 55px;
    font-weight: bold;
    color: white;
}


.carrot:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bug:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.result_box {
    display: none;
    position: absolute;
    width: 300px;
    height: 100px;
    left: 500px;
    top: 300px;
    background-color: black;
    opacity: 0.6;
    border-radius: 20px;
    padding: 10px 20px;
}

.result_box span {
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
}

.replay_btn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
}

.replay_btn button:hover {
    cursor: pointer;
    transform: scale(1.1);
}